.glass-bg {
    background: rgba(255, 255, 255, 0.027);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    padding: 2rem;
    color: rgb(255, 255, 255)

}